<div class="tsd-anchor"><a id="pipe-{{include.name}}"></a></div>
<div class="tsd-panel">
	<h5 class="tsd-name" id="pipe-{{include.name}}">{{ include.name }}</h5>
	<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class">
		<li class="tsd-signature tsd-kind-icon"><b>{{ include.signature }}</b></li>
	</ul>
	<ul class="tsd-descriptions">
		<li class="tsd-description">
			<div>
				<p>{{ include.description }}</p>
				{% if include.example %}
					<div class="highlight">
						<pre class="highlight">{{ include.example }}</pre>
					</div>
				{% endif %}
			</div>
		</li>
	</ul>
</div>